{% extends 'base.html.twig' %}


{% block title %}menu{% endblock %}


{% block body %}
    {{ include ('index/navBarre.html.twig') }}
    {{ include ('index/sideBare.html.twig') }}

    <body class="theme-cyan">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img
                        src="http://www.wrraptheme.com/templates/lucid/hospital/assets/images/logo-icon.svg" width="48"
                        height="48" alt="Lucid"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->

    <div id="wrapper">


        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                            class="fa fa-arrow-left"></i></a> Dashboard</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                            <div class="bh_chart hidden-xs">
                                <div class="float-left m-r-15">
                                    <small>Visitors</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                                </div>
                                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                            </div>
                            <div class="bh_chart hidden-sm">
                                <div class="float-left m-r-15">
                                    <small>Visits</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                                </div>
                                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row clearfix">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="body">

                                <h3>Liste des Matières</h3>
                                <p class="float-md-right">
                                    <button class="btn btn-outline-primary">
                                        <a href="{{ path('index_matiere_new') }}">Ajouter</a>
                                    </button>
                                </p>
                                <div class="table-responsive table_middel">
                                    <table class="table m-b-0">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th> Nom Matière</th>
                                            <th> Prix</th>
                                            <th> Afficher</th>
                                            <th> Modifier</th>
                                            <th> Supprimer</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for matiere in matieres %}
                                            <tr>
                                                <td>{{ matiere.id }}</td>
                                                <td>{{ matiere.nomMat }}</td>
                                                <td>{{ matiere.prixMat }}</td>
                                                <td>
                                                    <a href="{{ path('index_matiere_show', {'id': matiere.id}) }}">
                                                        <button class="btn btn-outline-success icon-eye">
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('index_matiere_show', {'id': matiere.id}) }}">
                                                        <button class="btn btn-outline-warning fa fa-edit">
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <form method="post"
                                                          action="{{ path('index_matiere_delete', {'id': matiere.id}) }}"
                                                          onsubmit="return confirm('Are you sure you want to delete this item?');">

                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token"
                                                               value="{{ csrf_token('delete' ~ matiere.id) }}">

                                                        <button class="btn btn-outline-danger fa fa-trash-o"></button>

                                                    </form>

                                                </td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">no records found</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    </body>
{% endblock %}




