{% extends 'base.html.twig' %}

{% block body %}


    <div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="dropdown">
                    <span>Bienvenue,</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown">
                        <strong>{{ app.user.nomP }} {{ app.user.prenomP }} </strong></a>
                    <ul class="dropdown-menu dropdown-menu-right account">
                        <li><a href="{{ path('app_logout') }}"><i class="icon-power"></i>Logout</a></li>
                    </ul>
                </div>


            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">Menu</a></li>

                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting"><i class="icon-settings"></i></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane active" id="menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li class="active">
                                <a href="{{ path('index') }}">
                                    <i class="icon-home"></i>
                                    <span>Tableau de Bord</span>
                                </a>
                            </li>

                            <li><a href="javascript:void(0);" class="has-arrow"><i
                                            class="icon-list"></i><span> Matières </span>
                                </a>
                                <ul>
                                    <li><a href="{{ path('index') }}">Tous les Matière</a></li>
                                    <li><a href="{{ path('index_matiere_new') }}">Ajouter Matière</a></li>
                                </ul>
                            </li>

                            <li><a href="javascript:void(0);" class="has-arrow"><i
                                            class="icon-layers"></i><span>Cours</span>
                                </a>
                                <ul>
                                    <li><a href="{{ path('cours_index') }}">Tous les Cours</a></li>
                                    <li><a href="{{ path('cours_new') }}">Ajouter Cours</a></li>

                                </ul>
                            </li>
                            <li><a href="{{ path('participant') }}" ><i class="icon-user-follow"></i><span>Participants</span></a>




                            <li><a href="{{ path('admin') }}" ><i
                                            class="icon-user"></i><span> Admins </span> </a>

                            </li>

                        </ul>
                    </nav>
                </div>


                <div class="tab-pane p-l-15 p-r-15" id="setting">
                    <h6>Choose Skin</h6>
                    <ul class="choose-skin list-unstyled">
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="cyan" class="active">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="blush">
                            <div class="blush"></div>
                            <span>Blush</span>
                        </li>
                    </ul>
                    <hr>

                </div>
            </div>
        </div>
    </div>

{% endblock %}