<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="description" content="Lucid Bootstrap 4.1.1 Admin Template">
        <meta name="author" content="WrapTheme, design by: ThemeMakker.com">
        <link rel="icon" href="public/hospital/light/favicon.ico" type="image/x-icon">
        <!-- VENDOR CSS -->

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('hospital/assets/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('hospital/assets/vendor/font-awesome/css/font-awesome.min.css') }}">

            <link rel="stylesheet" href="{{ asset('hospital/assets/vendor/chartist/css/chartist.min.css') }}">
            <link rel="stylesheet" href="{{ asset('hospital/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">


            <!-- MAIN CSS -->
            <link rel="stylesheet" href="{{ asset('hospital/light/assets/css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('hospital/light/assets/css/color_skins.css') }}">
        {% endblock %}
    </head>
    <body>

        {% block body %}
            {% block navbar %}{% endblock %}
        {% endblock %}
        <script src="https://js.stripe.com/v3/"></script>
        {% block javascripts %}


            <script src="{{ asset('hospital/light/assets/bundles/libscripts.bundle.js') }}"></script>
            <script src="{{ asset('hospital/light/assets/bundles/vendorscripts.bundle.js') }}"></script>

            <script src="{{ asset('hospital/light/assets/bundles/chartist.bundle.js') }}"></script>
            <script src="{{ asset('hospital/light/assets/bundles/knob.bundle.js') }}"></script> <!-- Jquery Knob-->
            <script src="{{ asset('hospital/light/assets/bundles/flotscripts.bundle.js') }}"></script> <!-- flot charts Plugin Js -->

            <script src="{{ asset('hospital/assets/vendor/flot-charts/jquery.flot.selection.js') }}"></script>

            <script src="{{ asset('hospital/light/assets/bundles/mainscripts.bundle.js') }}"></script>
            <script src="{{ asset('hospital/light/assets/js/index.js') }}"></script>




        {% endblock %}
    </body>
</html>
