{% extends 'base.html.twig'%}
{% block title 'Panier' %}
{% block body %}

    <div class="col-lg-6 col-md-12" style="margin-top: 10% ; margin-left: 25%">
        <div class="card">
            <div class="header">
                <h2 style="text-align: center">Votre Panier</h2>
            </div>
            <div class="body" >
                <div class="table-responsive social_media_table">
                    {% if  items | length > 0%}
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Nom de Matière</th>
                                    <th>Supprimer</th>
                                    <th>Prix</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items  %}
                                    <tr>
                                        <td>{{ item.matiere.nomMat }}</td>
                                        <td>
                                            <a href="{{ path('user_panier_remove', {'id': item.matiere.id}) }}">
                                                <button class="btn btn-outline-danger fa fa-trash-o "></button>
                                            </a>

                                        </td>
                                        <td>{{ item.matiere.prixMat }}</td>

                                    </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-right">Total = </td>
                                    <td>{{ total }} $</td>
                                </tr>
                            </tfoot>
                        </table>

                        <button class="btn btn-outline-success float-md-right" id="checkout-button">Checkout</button>
                    {% else %}
                        <p> Surprise, C'est vide ! </p>
                    {% endif %}
                    <a href="{{ path('user_interface') }}" >
                        <button type="button" data-type="confirm" class="btn btn-link " title="Retour">  Retour </button>
                    </a>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51I4RvsCPusUtyPPif04sUjSd1LGgwUWRxWrCgj59s5G8pKoXslHlpustFWjsKVia4jIowJmBYrWuyPtNrR4TEyn200gFAhtJu8");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/user/panier/create-checkout", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock  %}