{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>NomC</th>
                <td>{{ cour.nomC }}</td>
            </tr>
            <tr>
                <th>PrixC</th>
                <td>{{ cour.prixC }}</td>
            </tr>
            <tr>
                <th>ImgC</th>
                <td>{{ cour.imgC }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
